"color-tabs":
  "-regex/":
    ".*": "rgb(75, 99, 0)"
  "/lib" : "rgb(142, 65, 23)"
"opened-files/":
  ".*?\\.coffee": "rgb(134, 90, 16)"

".*\\.py": "rgb(81, 201, 38)"
".json": "rgb(196, 189, 91)"
".cson": "rgb(196, 189, 91)"
".xml": "rgb(196, 189, 91)"
