"*":
  "atom-beautify":
    css: {}
    general:
      _analyticsUserId: "37220172-a723-4b48-aaaf-101d9250a9a5"
      beautifyEntireFileOnSave: false
  "atom-ide-outline":
    initialDisplay: false
  "atom-material-ui":
    colors:
      abaseColor: "#eeeede"
      accentColor: "#eeeede"
      genAccent: true
    fonts: {}
    tabs:
      noTabMinWidth: true
      stretchedTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
  "atom-python-run": {}
  "atom-python-virtualenv":
    getWorkOnHome: "\\\\wsl.localhost\\Arch\\home\\gronk-droid\\.virtualenvs"
  "auto-close-html2":
    enabledFileTypes: [
      "html"
      "markdown"
      "md"
    ]
  "autocomplete-python":
    useKite: false
  "autocomplete-python-jedi": {}
  "bracket-colorizer":
    brackets: [
      "{}"
      "()"
      "[]"
      "<>"
    ]
  "color-tabs":
    backgroundStyle: "none"
    borderSize: 2
    borderStyle: "bottom"
  core:
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "pen-paper-coffee-syntax"
    ]
    titleBar: "hidden"
  "custom-title":
    template: "<%= fileName %><% if (projectPath) { %> - <%= projectPath %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  editor:
    fontFamily: "Iosevka, Menlo, Consolas, DejaVu Sans Mono, monospace"
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "9d0303ff-0dea-496a-a843-b9971b9c76ad"
  "file-icons": {}
  fonts:
    fontFamily: "Fira Mono"
  gist: {}
  "gist-it":
    newGistsDefaultToPrivate: true
  "git-diff":
    showIconsInEditorGutter: true
  github: {}
  "ide-python":
    pyls: "\\\\wsl.localhost\\Arch\\usr\\bin\\pylsp"
    python: "\\\\wsl.localhost\\Arch\\usr\\bin\\python3.10"
  kite:
    showWelcomeNotificationOnStartup: false
  linter: {}
  "linter-gcc":
    gccLintOnTheFly: true
  "linter-python":
    enableDebug: true
    executablePath: "\\\\wsl.localhost\\Arch\\home\\gronk-droid\\.local\\bin\\pylama"
    withPyflakes: true
  "linter-ui-default":
    panelHeight: 590
    useBusySignal: false
  "markdown-preview-enhanced":
    codeBlockTheme: "default.css"
    frontMatterRenderingOption: "table"
    mathRenderingOnlineService: "https://latex.codecogs.com/svg.latex"
    openPreviewPaneAutomatically: false
    printBackground: true
    revealjsTheme: "simple.css"
    usePuppeteerCore: false
  "markdown-preview-plus":
    renderer: "pandoc"
    saveConfig:
      defaultSaveFormat: "pdf"
      makePDFOverwrite: true
      openOnSave:
        pdf: true
      saveToPDFOptions:
        latexRenderer: "HTML-CSS"
    style: "github"
  "markdown-writer":
    fileExtension: ".markdown, .md"
    tableAlignment: "center"
  "no-title-bar": {}
  "one-dark-ui":
    tabSizing: "Maximum"
  "open-terminal-here": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pandoc-pdf":
    pandocPdfEngine: "wkhtmltopdf"
  "pdf-view-plus":
    closeViewWhenFileDeleted: true
  pigments:
    autocompleteScopes: [
      ".source.css"
      ".source.css.less"
      ".source.sass"
      ".source.css.scss"
      ".source.stylus"
      ".css"
      ".fish"
    ]
    autocompleteSuggestionsFromValue: true
    filetypesForColorWords: [
      "css"
      "less"
      "styl"
      "stylus"
      "sass"
      "scss"
      "fish"
    ]
    sourceNames: [
      "**/*.css"
      "**/*.styl"
      "**/*.stylus"
      "**/*.less"
      "**/*.sass"
      "**/*.scss"
      "**/*.fish"
    ]
    traverseIntoSymlinkDirectories: true
  "python-linters":
    lintTrigger:
      mypy: "LintAsYouType"
      pydocstyle: "LintOnFileSave"
    path: {}
  "python-tools": {}
  "status-bar": {}
  "sync-settings":
    autoCheckForUpdatedBackup: "backup"
    gistDescription: "Backup of atom from MacOS."
    gistId: "a01f68d755b2b8065667366c20fa085d"
    hiddenSettings:
      _lastBackupTime: "2022-04-24T17:56:08Z"
    installLatestVersion: true
    personalAccessToken: "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"
    quietUpdateCheck: true
    useGistProxy: false
  "terminal-plus":
    core:
      mapTerminalsTo: "File"
      workingDirectory: "Active File"
    toggles:
      autoClose: true
  terminus:
    ansiColors:
      normal:
        black: "#839496"
        blue: "#268bd2"
        cyan: "#2aa198"
        green: "#859900"
        magenta: "#6c71c4"
        red: "#dc322f"
        white: "#fdf6e3"
        yellow: "#b58900"
      zBright:
        brightBlack: "#839496"
        brightBlue: "#268bd2"
        brightCyan: "#2aa198"
        brightGreen: "#859900"
        brightMagenta: "#6c71c4"
        brightRed: "#dc322f"
        brightWhite: "#fdf6e3"
        brightYellow: "#b58900"
    core:
      shell: "C:\\\\Windows\\\\System32\\\\wsl.exe"
    iconColors:
      blue: "#268bd2"
      cyan: "#2aa198"
      green: "#859900"
      magenta: "#6c71c4"
      orange: "#839496"
      pink: "#657b83"
      purple: "#586e75"
      red: "#dc322f"
      yellow: "#b58900"
    style:
      fontFamily: "Iosevka"
      fontSize: "18"
      theme: "solarized-light"
  "title-bar-replacer":
    colors:
      autoSelectColor: false
      baseColor: "#eeeede"
      controlTheme: "Arc"
      highlightColor: "#656660"
      textColor: "#2d2a2e"
    general:
      altGivesFocus: false
      displayMenuBar: false
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
".applescript.source":
  editor:
    showIndentGuide: true
    tabLength: 4
".css.less.source":
  editor:
    showIndentGuide: false
".md.text":
  editor:
    showIndentGuide: true
