"*":
  "atom-beautify":
    css: {}
    general:
      _analyticsUserId: "37220172-a723-4b48-aaaf-101d9250a9a5"
      beautifyEntireFileOnSave: false
  "atom-ide-outline":
    initialDisplay: false
  "atom-material-ui":
    colors:
      abaseColor: "#eeeede"
      accentColor: "#ececf9"
      genAccent: true
    fonts: {}
    tabs:
      noTabMinWidth: true
      stretchedTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
  "atom-python-run":
    terminal: [
      "hyper"
    ]
  "atom-python-virtualenv":
    getWorkOnHome: "$HOME/.virtualenvs;"
  "auto-close-html2":
    enabledFileTypes: [
      "html"
      "markdown"
      "md"
    ]
  "autocomplete-python": {}
  "bracket-colorizer":
    brackets: [
      "{}"
      "()"
      "[]"
      "<>"
    ]
  "color-tabs":
    backgroundStyle: "none"
    borderSize: 2
    borderStyle: "bottom"
  core:
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "auto-close-html2"
      "bracket-colorizer"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "pen-paper-coffee-syntax"
    ]
  editor:
    fontFamily: "Iosevka, Menlo, Consolas, DejaVu Sans Mono, monospace"
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "9d0303ff-0dea-496a-a843-b9971b9c76ad"
  "file-icons": {}
  fonts:
    fontFamily: "Fira Mono"
  gist: {}
  "gist-it":
    newGistsDefaultToPrivate: true
  "git-diff":
    showIconsInEditorGutter: true
  github: {}
  "ide-python": {}
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-ui-default":
    useBusySignal: false
  "markdown-preview-enhanced":
    codeBlockTheme: "default.css"
    frontMatterRenderingOption: "table"
    mathRenderingOnlineService: "https://latex.codecogs.com/svg.latex"
    openPreviewPaneAutomatically: false
    printBackground: true
    revealjsTheme: "simple.css"
    usePuppeteerCore: false
  "markdown-preview-plus":
    renderer: "pandoc"
    saveConfig:
      defaultSaveFormat: "pdf"
      makePDFOverwrite: true
      openOnSave:
        pdf: true
      saveToPDFOptions:
        latexRenderer: "HTML-CSS"
    style: "github"
  "markdown-writer":
    tableAlignment: "center"
=======


      _lastBackupTime: "2022-03-07T03:42:28Z"
    personalAccessToken: "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"
    removeObsoletePackages: true
    useGistProxy: false
  "terminal-plus":
    core:
      mapTerminalsTo: "File"
      workingDirectory: "Active File"
    toggles:
      autoClose: true
  "title-bar-replacer":
    colors:
      controlTheme: "Yosemite"
      style: "Spacious"
    general: {}
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
".applescript.source":
  editor:
    showIndentGuide: true
    tabLength: 4
".css.less.source":
  editor:
    showIndentGuide: false
".md.text":
  editor:
    showIndentGuide: true
