packages: [
  "atom-alignment"
  "atom-beautify"
  "atom-ide-base"
  "atom-ide-code-format"
  "atom-ide-datatip"
  "atom-ide-definitions"
  "atom-ide-hyperclick"
  "atom-ide-markdown-service"
  "atom-ide-outline"
  "atom-ide-signature-help"
  "atom-material-ui"
  "autocomplete-python"
  "busy-signal"
  "file-icons"
  "GAS-x86_64-highlighter"
  "gist-it"
  "icon-fonts"
  "intentions"
  "language-AHK"
  "language-applescript"
  "language-assembly"
  "language-dotfiles"
  "language-fish-shell"
  "language-generic-config"
  "language-latex"
  "language-lua"
  "language-markdown"
  "language-mermaid"
  "language-unix-shell"
  "language-x86-64-assembly"
  "linter"
  "linter-ui-default"
  "markdown-preview-enhanced"
  "markdown-writer"
  "package-sync"
  "pdfjs-viewer"
  "pen-paper-coffee-syntax"
  "pigments"
  "python-linters"
  "sort-lines"
  "ssh-config"
  "sync-settings"
  "terminus"
  "title-bar-replacer"
]
