packages: [
  "atom-beautify"
  "atom-ide-base"
  "atom-ide-code-format"
  "atom-ide-datatip"
  "atom-ide-debugger-python"
  "atom-ide-definitions"
  "atom-ide-hyperclick"
  "atom-ide-markdown-service"
  "atom-ide-outline"
  "atom-ide-signature-help"
  "atom-material-ui"
  "atom-monokai"
  "atom-python-run"
  "atom-python-virtualenv"
  "autocomplete-python"
  "bracket-colorizer"
  "busy-signal"
  "color-tabs"
  "color-tabs-regex"
  "file-icons"
  "gist-it"
  "git-blame"
  "icon-fonts"
  "ide-python"
  "intentions"
  "khai-monokai"
  "kite"
  "language-applescript"
  "language-assembly"
  "language-dotfiles"
  "language-fish-shell"
  "language-generic-config"
  "language-lua"
  "language-markdown"
  "language-unix-shell"
  "language-x86-64-assembly"
  "linter"
  "linter-ui-default"
  "markdown-preview-plus"
  "monokai"
  "monokai-dark"
  "monokai-slate"
  "package-sync"
  "pandoc-pdf"
  "pdfjs-viewer"
  "pigments"
  "python-tools"
  "script"
  "ssh-config"
  "sync-settings"
  "title-bar-replacer"
]
