
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
  * {font-family: "Iosevka";}
  line-height: 1.5em;

  .center {
      display: flex;
      justify-content: center;
  }

  .leftTable {
      display: block;
      margin-left: 0px;
      margin-right: auto;
      width: 40%;
  }

  .leftTable th {
      background: rgba(0,0,0,0.2);
  }

  .centerTable {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
  }

  .centerTable th {
      background: rgba(0,0,0,0.4);
  }

  .highlightFirstColumn tr td:nth-child(1) {
      background: rgba(0,0,0,0.2);
  }

  .tab {
      tab-size: 4;
  }

}
