/*titlebar min max close buttons*/
.titlebar-buttonbox-container .titlebar-button .toolbarbutton-icon {
	stroke: #9400ff;
}

.titlebar-buttonbox-container .titlebar-button.titlebar-close .toolbarbutton-icon {
	stroke: #00DDFF;
}

.titlebar-buttonbox-container .titlebar-button.titlebar-close:hover .toolbarbutton-icon {
	stroke: #ffffff;
}

/* prevent white flash during page load */
@-moz-document url(chrome://browser/content/browser.xhtml)
{

  #main-window,
  browser[type="content-primary"],
  browser[type="content"],
  tabbrowser#content,
  #content,
  browser[type="content"] > html
  {
     background: #000000 !important;
  }

}
